body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #5fa6dd;
    color: #333;
    margin: 0;
    padding: 20px;
}


header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: rgb(255, 255, 255);
}

h2 {
    color:rgb(255, 255, 255)
}